@{
    ViewBag.Title = "Learn about the creator, Parker Cantwell.";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Hello my name is Parker Cantwell. I am a senior here at Ohio University majoring in Management Information Systems with a minor in business analytics. I am from Columbus, Ohio where I have lived all my life. Upon graduation I will be working in Dublin, Ohio just twenty minutes from the home where I grew up. A fun fact about me is that I can clap with one hand. </p>
