@{
    ViewBag.Title = "Feel free to contact me!";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Name: Parker Cantwell<br />
    Address: Copeland 012<br />
    <abbr title="6145932914">P:</abbr>
    614-593-2914
</address>

<address>
    <strong>Questions? Reach out to:</strong>   <a href="mailto:pc805215@ohio.edu">pc805215@ohio.edu</a><br />
</address>