@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Parker Cantwell<br />
    Copeland 012<br />
    <abbr title="6145932914">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:pc805215@ohio.edu">Support@example.com</a><br />
</address>