@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Parker Cantwell</h1>
   
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Creator</h2>
        <p>
            Parker Cantwell is the creator of this web site!
        
    </div>
    <div class="col-md-4">
        <h2>Major</h2>
        <p>Parker is a Management Information Systems major here at Ohio University</p>
        
    </div>
    <div class="col-md-4">
        <h2>What class is this for?</h2>
        <p>Parker is building this web site for his MIS4200 class.</p>
        
    </div>
</div>